/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin:0;
  color: #333;
  font-family: "Quicksand";
}
.navbar{
  padding: 20px;
  display:flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #292626;
  
  
}
.navbar h1{
  color: #f1356d;
  font-size:50px;
  cursor: pointer;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
}
.navbar a:hover{
  color: #f1356d;
}
.content{
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
}
.svg-details{
  bottom: 0px;
  box-shadow:0px 0px 20px 0px #888888;
  background-color:#466479;
}
.footer-details{
  position: relative;
  background-color:#273036;
  height: 100px;
  top: 0px;
  bottom: 0;
  box-shadow:0px 0px 20px 0px #273036;
  
}
.footer-details h1{
  color: white;
}
.links a{
  font-size:40px;
}